<%= form_with(model: post, class: "d-block justify-content-end") do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug, class: "form-control" %>
    <small class="form-text text-light">allowed characters: a-z A-Z 0-9 - _ + <br>(leave blank to random string)</small>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mt-1">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Post.statuses.keys[0..-3], {}, { :class => "form-select" }%>
  </div>

  <div class="form-group mt-2">
    <%= form.label :files, "Upload Files" %>
    <%= form.file_field :files, multiple: true, class: "form-control" %>
  </div>

  <div class="form-group mt-2 <% if current_user %> d-none <% end %>">
    <%= form.label :username %> <b class="text-danger">(required)</b>
    <%= form.text_field :username, class: "form-control" %>
    <small class="form-text text-light">assign Post to an account </small>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
