<div class="card post-card position-relative">
  <%= link_to post_path(post), class: "stretched-link", data: { turbo: false } do %>
  <% end %>

  <div class="card-body">
    <div class="post-time">
      <%
        path = post.pinned? ? unpin_post_path(post) : pin_post_path(post)
        icon_class = post.pinned? ? "bi bi-pin-angle-fill post-x-link text-danger" : "bi bi-pin-angle post-x-link text-white-50"
      %>

      <%= link_to "", path, class: icon_class, data: { turbo_method: :get, turbo_confirm: "Are you sure?" } %>

      <%= post.created_at.strftime('%H:%M') %>
      <span class="float-end">
        <% if current_user&.admin? %>
          <%= link_to 'X', url_for(action: :destroy, id: post.id), class: "text-danger post-x-link",
        data: { turbo_method: :delete, confirm: 'Are you sure?' } %> |
        <% end %>

        <%= get_user(post.user_id).username %> |

        <%= post.id %>
        </span>
    </div>
    <h5 class="post-title">
      <%= post.title %>
    </h5>
    <% if post.description.present? %>
      <p class="post-description"><%= truncate(post.description, length: 100) %></p>
    <% end %>

    <% if post.files.attached? %>
      <ul class="file-list position-relative">
        <% post.files.each_with_index do |file, index| %>
          <li class="file-item">
            <% if index > 5 and post.files.count > 6 %>
              <span class="small position-relative post-description">+ <%= post.files.count - 6 %> files more...</span>
              <% break %>
            <% end %>
            <i class="<%= file_icon_class(file) %> file-icon"></i>
            <a href="<%= rails_blob_path(file, disposition: 'attachment') %>" target="_blank" class="file-link w-100">
              <%= shorten_filename(file.filename) %> <span class="text-muted float-end">(<%= number_to_human_size(file.byte_size) %>)</span>
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-muted small position-relative">No files</div>
    <% end %>
  </div>
</div>
