<% content_for :title, "Public Posts" %>

<div class="row">
  <!-- Main Content Column -->
  <div class="col-md-8">
    <h1 class="mb-4">Public Posts</h1>

    <!-- Tabs -->
    <%= render "tabs" %>

    <%= turbo_frame_tag :posts do %>
      <% if @posts_by_date.any? %>
        <% @posts_by_date.each do |date, posts| %>
          <div class="date-header">
            <i class="fas fa-calendar-day date-icon"></i>
            <span><%= date.strftime('%B %d, %Y') %></span>
          </div>

          <div class="row">
            <% posts.each do |post| %>
              <div class="col-md-6 mb-4">
                <%= render "post_card", post: post %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info mt-3">
          No posts found matching your search criteria.
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Sidebar Column with Form -->
  <div class="col-md-4 d-none d-md-block">
    <div class="sidebar-form">
      <h4 class="mb-3">New Post</h4>
      <%= render "form", post: @post %>
    </div>
  </div>

  <% if @posts_by_date.any? && @pagy.next.present? %>
    <%= turbo_frame_tag :pagination,
      loading: :lazy,
      src: posts_path(format: :turbo_stream, page: @pagy.next, **request.query_parameters.except(:page)) %>
  <% end %>
</div>

<br>
<br>
<br>
