<% content_for :title, "Public Posts" %>
<div class="row">
  <!-- Main Content Column -->
  <div class="col-md-8">
    <div class="row">
      <%
=begin%>
 <h1 class="col-8 mb-4 d-block">Public Posts</h1>
<%
=end%>
      <div class="col-4 d-md-none">
        <%= link_to "New Post", new_post_path, class: "btn btn-success float-end" %>
      </div>
    </div>

    <!-- Tabs -->
    <%= render "tabs" %>

    <!-- Pinned Posts -->
    <% if @pinned_posts.any? %>
      <div class="row">
        <h5 class="col-12 mb-4">
          <i class="fa-solid fa-thumbtack"></i> Pinned Posts
        </h5>
        <% @pinned_posts.each do |post| %>
          <div class="col-md-4 mb-4 text-break">
            <%= render "post_card", post: post %>
          </div>
        <% end %>
      </div>

      <h5 class="col-12 mb-4">
        <i class="bi bi-trash"></i> All Posts
      </h5>
    <% end %>

    <%= turbo_frame_tag :posts do %>
      <% if @posts_by_date.any? %>
        <% @posts_by_date.each do |date, posts| %>
          <div class="date-header">
            <i class="fas fa-calendar-day date-icon"></i>
            <span><%= date.strftime('%B %d, %Y') %></span>
          </div>

          <div class="row">
            <% posts.each do |post| %>
              <div class="col-md-6 mb-4">
                <%= render "post_card", post: post %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info mt-3">
          No posts found matching your search criteria.
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Sidebar Column with Form -->
  <div class="col-md-4 d-none d-md-block">
    <div class="sidebar-form pb-4">
      <h4 class="mb-3">New Post</h4>
      <%= render "form", post: @post %>
    </div>
  </div>

  <% if @posts_by_date.any? && @pagy.next.present? %>
    <%= turbo_frame_tag :pagination,
      loading: :lazy,
      src: posts_path(format: :turbo_stream, page: @pagy.next, **request.query_parameters.except(:page)) %>
  <% end %>
</div>

<br>
<br>
<br>
