<div class="p-2 col-12 col-lg-8 mx-auto">
  <%= link_to "Back to posts", posts_path, class: "btn btn-outline-secondary mb-2" %>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline-primary float-end mb-2" %>

  <% if @post.redirect_url.present? %>
    <div class="alert alert-warning text-center" role="alert" style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
      <p class="fw-bold">This post redirects to:</p>
      <%= link_to safe_redirect_url(@post), safe_redirect_url(@post), class: "text-dark", style: "word-wrap: break-word; overflow-wrap: break-word; white-space: normal;" %>
    </div>
  <% end %>


  <div style="position: relative;" onclick="copyContent()" class="btn btn-outline-light float-end mb-2 me-2">
    Copy content
    <span id="tooltip" style="visibility: hidden; position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%); margin-bottom: 5px; background-color: pink; color: black; padding: 5px; border-radius: 3px; font-size: 12px; white-space: nowrap;">
        Copied!
    </span>
  </div>
  <%# check if @post has files attached %>
  <% if @post.files.attached? %>
    <%= link_to 'Download as ZIP', download_post_as_zip_path(@post), class: 'btn btn-outline-info float-end mb-2 me-2' %>
  <% end %>
  <input type="text" id="urlInput" class="form-control bg-dark text-white my-2 border-0 text-center" value="<%= @url %>"
  readonly="readonly" onclick="copyURL()" title="Click to copy">



  <div id="<%= dom_id @post %>" class="card bg-dark w-100 h-100 text-white">
  <p class="h6 text-end mb-0" style=""> <% if(current_user) %> <%= get_user(@post.user_id).username %> | <% end %><%= @post.created_at.to_formatted_s(:short)  %></p>
    <div class="d-block card-body h-100 text-decoration-none pt-2">
        <h5 class="card-title"><%= @post.title %></h5>
        <div id="codeBlock" class="card-text" style="white-space: pre-wrap; font-family: monospace; padding: 10px; overflow: auto;"><%= @post.description %></div>
    </div>
    <hr class="my-1">
    <div class="card-body">
    <% if @post.files.attached? %>
      <% @post.files.each do |file| %>
        <li><%= link_to file.filename.to_s, url_for(file), class: "card-link", target: :_blank %> <span class="text-muted float-end">(<%= number_to_human_size(file.byte_size) %>)</span></li>
      <% end %>
    <% else %>
      <p class="mb-0 pb-0" style="color: #9198a1;">No files</p>
    <% end %>
    </div>
  </div>
  <div class="mt-2 px-0">
    <%= button_to 'Destroy this post', post_path(@post), method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-1 float-end" %>
    <%#= button_to 'Destroy this post2', post_path(@post),
    method: :delete,
    form: { data: { turbo: false } },
    data: {
      controller: "confirm-modal",
      confirm_modal_message_value: "Are you sure you want to delete this post?"
    },
    class: "btn btn-outline-danger mt-1 float-end" %>
  </div>
</div>

<script>
  function copyURL() {
  var copyText = document.getElementById("urlInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  copyText.title = "Copied!";
}
</script>

<script>
    function copyContent() {
        const codeBlock = document.getElementById("codeBlock");
        const range = document.createRange();
        range.selectNode(codeBlock);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);

        try {
            document.execCommand("copy");
            const tooltip = document.getElementById("tooltip");
            tooltip.style.visibility = "visible";
            setTimeout(() => {
                tooltip.style.visibility = "hidden";
            }, 2000);
        } catch (err) {
            alert("Failed to copy content.");
        }

        window.getSelection().removeAllRanges();
    }
</script>
