<nav class="navbar navbar-expand-lg navbar-dark position-relative">
  <div class="container">
    <%= link_to "teleinf", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", posts_path, class: "nav-link #{current_page?(posts_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "URLs", redirect_posts_path, class: "nav-link #{current_page?(redirect_posts_path) ? 'active' : ''}" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Posts", user_posts_path, class: "nav-link #{current_page?(user_posts_path) ? 'active' : ''}" %>
          </li>
        <% end %>
      </ul>

      <span class="mx-auto">
        <a href="https://ekursy.put.poznan.pl/" target="_blank" class="text-light text-decoration-none">
          <i class="bi bi-book"></i>
          <span class="ms-1">eKursy</span>
      </span>

      <% if last_commit = github_last_commit and last_commit[:sha] and last_commit[:time] %>
        <div class="align-items-center text-light me-3" style="font-size: 0.8rem;">
          <a href="<%= "https://github.com/#{Rails.application.config.github_repo_name}/commit/#{last_commit[:sha]}" %>"
            class="text-light text-decoration-none"
            target="_blank">
            <i class="bi bi-github"></i>
            <%= last_commit[:sha][0..6] %>
            <span class="ms-1"><%= last_commit[:time].strftime('%b %d, %H:%M') %></span>
          </a>
        </div>
      <% end %>


      <%= search_form_for @q, class: "search-form d-flex me-2" do |f| %>
        <%= f.search_field :title_or_description_or_slug_or_files_blobs_filename_cont,
                           class: "form-control search-input me-2",
                           placeholder: "Search" %>
        <%= f.submit "Search", class: "btn btn-outline-light" %>
      <% end %>

      <% if current_user %>
        <div class="btn-group me-2 mt-2 mt-md-0 float-end">
          <button type="button" class="btn btn btn-outline-primary"><%= current_user.username %></button>
          <button type="button" class="btn btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item disabled" %></li>
            <li><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item"%></li>
            <%# <li><a class="dropdown-item" href="#"></a></li> %>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", form: { data: { turbo: false } } %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-primary me-2 mt-2 mt-md-0 float-end" %>
      <% end %>
    </div>
  </div>
</nav>
