<!DOCTYPE html>
<html>
  <head>
    <title>dqq.pl <%= "- " if content_for(:title)%><%= content_for(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', "data-turbo-track": "reload" %>
    <% if Rails.application.config.analytics_url %>
      <script defer src="<%= Rails.application.config.analytics_url %>" data-website-id="<%= Rails.application.config.analytics_token %>"></script>
    <% end %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container text-white mt-4">
      <% if notice %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
